# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo

# Env
.env
.uv/
.env.*

# Django
db.sqlite3
media/
staticfiles/

# Migrations (по желанию)
*/migrations/__pycache__/
*/migrations/*.pyc

# VSCode / IDE
.vscode/
.idea/

# MacOS / Linux / Windows
.DS_Store
Thumbs.db

# Docker (если используешь)
*.log
*.pid
